{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "bg_position" "bg-position-center" "content" .)}}

{{ $headless := .Site.GetPage "/pages/about" }}
{{ $subpages := $headless.Resources.ByType "page" }}
{{ $subpages := sort $subpages ".Params.weight" }}
{{ range $subpages }}
{{ $container := default "container" .Params.fluid }}

<div class="bg-light p-5 text-center">
  <h1>{{ .Title }}</h1>
</div>
<div class='strip bg-cover {{ with .Params.bg_classes }}{{ delimit . " " }}{{ end }}' {{ with .Params.background }}style="background-image: url('{{ . | relURL }}');"{{ end }}>
  <div class="{{ $container }} py-3">
    <div class="row">
      <div class="col-12 text-center lead {{ if eq .Params.align "right" }}offset-md-6{{ end }}">
        {{ .Content }}
        {{ if .Params.button }}
          <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="bg-light p-5 text-center">
  <h1>Executive Leadership</h1>
</div>

{{ $headless := .Site.GetPage "/pages/leadership" }}
{{ $subpages := $headless.Resources.ByType "page" }}
{{ $subpages := sort $subpages ".Params.weight" }}
{{ range $subpages }}
<div class='strip bg-cover'>
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-3 offset-lg-1 col-sm-12">
        {{ with .Params.headshot }}
          <img src="{{ . | absURL }}" alt="Headshot" class="img-fluid rounded-circle border border-primary">
        {{ end }}
      </div>
      <div class="col-lg-7 col-sm-12">
        <span class="badge bg-primary text-white p-1 font-weight-bold mb-2">{{ .Params.position }}</span>
        <h2 class="text-primary text-uppercase">{{ .Title }}</h2>
        <div class="lead">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ .Content }}

{{ end }}
