{{ $headless := .Site.GetPage "/pages/leadership" }}
{{ $subpages := $headless.Resources.ByType "page" }}
{{ $subpages := sort $subpages ".Params.weight" }}
{{ $headshot := $headless.Resources.ByType "image"}}
{{ range $subpages }}
<div class='strip bg-cover'>
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        {{ printf "%#v" .Resources }}
        {{ range $headshot }}
          <img src="{{ .RelPermalink }}" class="img-fluid">
        {{ end }}
        {{ with .Resources.GetMatch "images/headshot.png" }}
          <img src="{{ .RelPermalink }}" alt="Headshot" class="img-fluid rounded-circle border border-primary">
        {{ end }}
      </div>
      <div class="col-lg-4 col-sm-12">
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        <strong>{{ .Params.position }}</strong>
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}