@font-face {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    src: url('/fonts/Metropolis-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    src: url('/fonts/Metropolis-RegularItalic.woff2');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    src: url('/fonts/Metropolis-Bold.woff2');
    font-weight: 800;
}

@font-face {
    font-family: Metropolis, Arial, Helvetica, sans-serif;
    src: url('/fonts/Metropolis-BoldItalic.woff2');
    font-weight: 800;
    font-style: italic;
}