.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-position-center {
  background-position: center;
}
.bg-position-bottom {
  background-position: bottom;
}
.bg-position-top {
  background-position: top;
}
.bg-overlay {
  background-blend-mode: overlay;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}

@for $counter from 0 through 100 {
  $alpha: $counter / 100;
  .bg-transparent-#{$counter} {
    background-color: rgba(0,0,0,$alpha);
  }
}


// Alpha with a white background
@for $counter from 0 through 100 {
  $alpha: $counter / 100;
  .bg-white-transparent-#{$counter} {
    background-color: rgba(255,255,255,$alpha);
  }
}