<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          {{ if .Site.Data.social }}
          <ul class="social">
              {{ range .Site.Data.social }}
                  <li><a href="{{ .link }}" target="blank"><img width="20" height="20" src="{{ .image | relURL }}" title="{{ .name }}" alt="{{ .name }}" /></a></li>
              {{ end }}
          </ul>
          {{ end }}
          <ul class="footer-menu">
            {{ range .Site.Menus.footer}}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            <li><a href="https://www.iubenda.com/privacy-policy/93881337" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
            <li class="copyright"><span>&copy; {{ now.Format "2006" }} {{.Site.Title}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>