<div id="hero" class="py-5 hero-image hero-image-setheight {{ .bg_position }}" style="background-image: url('{{ .background | relURL }}')">
  <div class="container d-flex flex-row align-items-center">
    <div class="text-light">
      <span class="hero-section">{{ .section }}</span>
      <h1>{{ .heading }}</h1>
      <p class="lead">{{ .subheading }}</p>
    </div>
    {{ if .image }}
    <div class="">
      <img src="{{ .image|absURL }}" alt="" class="img-fluid" style="max-width: 500px">
    </div>
    {{ end }}
  </div>
</div>
  