<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li><strong>Phone</strong><br><a href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.contact.phone }}</a></li>
            <li><strong>Fax</strong><br>{{ .Site.Data.contact.fax }}</li>
            <li><strong>Web</strong><br><a href="{{ .Site.Data.contact.web }}">{{ .Site.Data.contact.web }}</a></li>
          </ul>
          <ul>
            <li><strong>General Inquiries</strong><br><a href="tel:{{ .Site.Data.contact.email.general }}">{{ .Site.Data.contact.email.sales }}</a></li>
            <li><strong>Sales</strong><br><a href="tel:{{ .Site.Data.contact.email.sales }}">{{ .Site.Data.contact.email.sales }}</a></li>
            <li><strong>Support</strong><br><a href="tel:{{ .Site.Data.contact.email.support }}">{{ .Site.Data.contact.email.support }}</a></li>
          </ul>
          <ul>
            <li  style="white-space: pre-wrap;">{{ .Site.Data.contact.address }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>