{{ define "header_css" }}{{ end }} {{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container pt-5 pb-3">
  <div class="row">
    <div class="col-12">
      <h1 class="title-1 black">{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {{ range.Pages }}
    <div class="col-12 col-md-6 offset-md-3 mb-2 ">
      <article>
        <header>
          <h2><a href="{{ .Permalink}}">{{ .Title }}</a></h2>
        </header>
        {{ with .Params.tags }}
            {{ range . }}
                <span class="badge badge-primary">{{ . }}</span>
            {{ end }}
        {{ end }}
        <ul class="pt-1">
            {{ with .Params.hours }}
                <li>Hours - {{ . }}</li>
            {{ end }}
            {{ with .Params.location }}
                <li>Location - {{ . }}</li>
            {{ end }}
        </ul>
        <p>{{ .Summary }}</p>
      </article>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}